<template data-cart-total-discount-template>
  <div class="cart__total">
    <div>
      {%- render 'icon-tags' -%}
      <span data-cart-discount-title></span>
    </div>

    <span data-cart-discount-price></span>
  </div>
</template>