<!-- /snippets/no-blocks.liquid -->

{% comment %}
    Loads onboarding no content block, no arguements required

    Usage:
    {% render 'no-blocks' %}
{% endcomment %}

<div class="placeholder-noblocks" data-prevent-transparent-header>
  {{ 'home_page.onboarding.no_content' | t }}
</div>
