{%- if settings.color_swatches -%}
  <template data-swatch-template>
    <div class="swatch__button swatch__button--{{ settings.swatch_style }}" data-swatch-button data-fades-in data-tooltip>
      <a class="swatch__link" data-swatch-link></a>
    </div>
  </template>
{%- endif -%}