{% comment %}
    Docs / debugging for buttons

		Render this partial on a page 
		template to see all buttons 
		and buttons styles
{% endcomment %}

<section class="wrapper" style="padding-bottom: 100px; padding-top: 100px;">
	<h3>Button colors</h3>
	<hr>
	<h6>Primary</h6>
	<a href="#" class="btn btn--primary">Button</a>
	<a href="#" class="btn btn--primary btn--solid">Button Solid</a>
	<a href="#" class="btn btn--primary btn--outline">Button Outline</a>
	<a href="#" class="btn btn--primary btn--text">Button Text</a>

	<h6>Secondary</h6>
	<a href="#" class="btn btn--secondary">Button</a>
	<a href="#" class="btn btn--secondary btn--solid">Button Solid</a>
	<a href="#" class="btn btn--secondary btn--outline">Button Outline</a>
	<a href="#" class="btn btn--secondary btn--text">Button Text</a>

	<h6>White</h6>
	<div style="padding: 10px; background-color: #ccc;">
		<a href="#" class="btn btn--white">Button</a>
		<a href="#" class="btn btn--white btn--solid">Button Solid</a>
		<a href="#" class="btn btn--white btn--outline">Button Outline</a>
		<a href="#" class="btn btn--white btn--text">Button Text</a>
	</div>

	<h6>Black</h6>
	<a href="#" class="btn btn--black">Button</a>
	<a href="#" class="btn btn--black btn--solid">Button Solid</a>
	<a href="#" class="btn btn--black btn--outline">Button Outline</a>
	<a href="#" class="btn btn--black btn--text">Button Text</a>

	<hr>
	<h3>Button Sizing</h3>
	<hr>
	
	<h6>Large</h6>
	<h6>Primary</h6>
	<a href="#" class="btn btn--primary btn--large">Button</a>
	<a href="#" class="btn btn--primary btn--large btn--solid">Button Solid</a>
	<a href="#" class="btn btn--primary btn--large btn--outline">Button Outline</a>
	<a href="#" class="btn btn--primary btn--large btn--text">Button Text</a>

	<h6>Secondary</h6>
	<a href="#" class="btn btn--secondary btn--large">Button</a>
	<a href="#" class="btn btn--secondary btn--large btn--solid">Button Solid</a>
	<a href="#" class="btn btn--secondary btn--large btn--outline">Button Outline</a>
	<a href="#" class="btn btn--secondary btn--large btn--text">Button Text</a>

	<h6>White</h6>
	<div style="padding: 10px; background-color: #ccc;">
		<a href="#" class="btn btn--white btn--large">Button</a>
		<a href="#" class="btn btn--white btn--large btn--solid">Button Solid</a>
		<a href="#" class="btn btn--white btn--large btn--outline">Button Outline</a>
		<a href="#" class="btn btn--white btn--large btn--text">Button Text</a>
	</div>

	<h6>Black</h6>
	<a href="#" class="btn btn--black btn--large">Button</a>
	<a href="#" class="btn btn--black btn--large btn--solid">Button Solid</a>
	<a href="#" class="btn btn--black btn--large btn--outline">Button Outline</a>
	<a href="#" class="btn btn--black btn--large btn--text">Button Text</a>

	<h6>Small</h6>
	<h6>Primary</h6>
	<a href="#" class="btn btn--primary btn--small">Button</a>
	<a href="#" class="btn btn--primary btn--small btn--solid">Button Solid</a>
	<a href="#" class="btn btn--primary btn--small btn--outline">Button Outline</a>
	<a href="#" class="btn btn--primary btn--small btn--text">Button Text</a>

	<h6>Secondary</h6>
	<a href="#" class="btn btn--secondary btn--small">Button</a>
	<a href="#" class="btn btn--secondary btn--small btn--solid">Button Solid</a>
	<a href="#" class="btn btn--secondary btn--small btn--outline">Button Outline</a>
	<a href="#" class="btn btn--secondary btn--small btn--text">Button Text</a>

	<h6>White</h6>
	<div style="padding: 10px; background-color: #ccc;">
		<a href="#" class="btn btn--white btn--small">Button</a>
		<a href="#" class="btn btn--white btn--small btn--solid">Button Solid</a>
		<a href="#" class="btn btn--white btn--small btn--outline">Button Outline</a>
		<a href="#" class="btn btn--white btn--small btn--text">Button Text</a>
	</div>

	<h6>Black</h6>
	<a href="#" class="btn btn--black btn--small">Button</a>
	<a href="#" class="btn btn--black btn--small btn--solid">Button Solid</a>
	<a href="#" class="btn btn--black btn--small btn--outline">Button Outline</a>
	<a href="#" class="btn btn--black btn--small btn--text">Button Text</a>
</section>