<section class="section-logos">
    <div class="wrapper">
      <header class="section-logos__head">
        {%- if section.settings.heading != blank -%}
          <h1 class="heading">{{ section.settings.heading }}</h1>
        {%- endif -%}
      </header>
      
      <div class="section-logos__content">
        {% for block in section.blocks %}
          {%- if block.settings.image != blank -%}
            {%- if block.settings.url != blank -%}
              <a href="{{ block.settings.url }}">
            {%- endif -%}
            
            {% render 'image', image: block.settings.image, loading: 'lazy', preload: 'false', fetchpriority: 'auto' %}
  
            {%- if block.settings.url != blank -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        {% endfor %}
      </div>
    </div>
  </section>
  
  {% schema %}
    {
      "name": "Logos",
      "max_blocks": 3,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }
      ],
      "blocks": [
        {
          "name": "Logo",
          "type": "logo",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "url",
              "id": "url",
              "label": "Link",
              "info": "Optional"
            },
            {
              "type": "url",
              "id": "url",
              "label": "Link",
              "info": "Make a change"
            }
          ]
        }
      ],
      "presets": [
        {
        "name": "Logos"
        }
      ]
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}
  