<section class="section-featured-collection-test">
  <div class="wrapper">
    <header class="section-featured-collection-test__head">
      {%- if section.settings.heading != blank -%}
        <h1 class="heading">{{ section.settings.heading }}</h1>
      {%- endif -%}
    </header>

    {% if section.blocks.size > 0 %}
      <div class="section-featured-collection-test__body">
        {% for block in section.blocks %}
          {%- assign collection = block.settings.collection -%}
          {%- assign collection_image = block.settings.collection_image | default: collection.featured_image -%}
          {%- assign collection_title = block.settings.title | default: collection.title -%}
          
          {%- if collection != blank -%}
            <div class="collection">
              {%- if collection_image != blank -%}
                <a href="{{ collection.url }}" class="image">
                  {% render 'image', image: collection_image %}
                </a>
              {%- endif -%}
            
              <h2 class="collection__heading">
                <a href="{{ collection.url }}">{{ collection_title }}</a>
              </h2>

              {%- if collection.products.size > 0 -%}
                <ul style="display: grid; gap: 40px; grid-template-columns: 1fr 1fr 1fr 1fr;">
                  {%- for product in collection.products limit: 4 -%}
                    <li>
                      {%- render 'product-grid-item', product: product -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {% endif %}
  </div>
</section>
{% schema %}
  {
    "name": "Featured collection test",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
      "type": "collection",
      "name": "Collection",
      "limit": 6,
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Image"
        },
        {
          "label": "Heading",
          "id": "title",
          "type": "text"
        }
      ]
    }
    ],
    "presets": [
      {
      "name": "Featured collection test"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}