/**
 * Forms
 */

input,
textarea,
select,
.input-group {
  border: 1px solid var(--COLOR-BORDER);
  font-size: var(--FONT-SIZE-BASE);
  border-radius: var(--RADIUS-SELECT);
  max-width: 100%;
  padding: 9px 16px;
  margin: 7px 0;
  background: var(--TRANSPARENT);
  color: var(--COLOR-TEXT);
  font-family: var(--FONT-STACK-BODY);
  font-weight: var(--FONT-WEIGHT-BODY);
  font-style: var(--FONT-STYLE-BODY);

  @include media-query($small) {
    padding: 9px 10px;
    font-size: 1rem;
  }

  &:focus { border: 1px solid var(--COLOR-BORDER); }

  &[disabled] {
    cursor: default;
    background-color: var(--COLOR-BORDER);
    border-color: var(--COLOR-BORDER-DARK);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, border-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--COLOR-TEXT) !important;
  }
}

textarea {
  min-height: 100px;
  padding: 16px;

  @include media-query($small) {
    padding: 9px 10px;
  }
}

.form-item,
.form-field {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
  line-height: 1;
  text-align: left;
  position: relative;
}

.form-item select { width: 100%; }

.form-field {
  label {
    background: var(--bg);
    color: var(--text);
    font-size: calc(0.75rem * var(--FONT-ADJUST-BODY) );
    font-weight: var(--FONT-WEIGHT-BODY-BOLD);
    left: 9px;
    opacity: 0;
    padding: 0 0.5em;
    position: absolute;
    top: 2em;
    transition: 0.25s ease-out;
    transition-property: color, background, border;
    z-index: -1;
  }

  label.label--float {
    opacity: 1;
    top: -0.8em;
    z-index: 1;
  }
}

.form-field select,
.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"],
.form-field input[type="number"],
.form-field input[type="tel"],
.form-field textarea {
  display: block;
  width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
}

input[type="checkbox"] {
  margin: 4px 3px 4px 0;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -ms-appearance: checkbox;
  -o-appearance: checkbox;
  appearance: checkbox;
}

input[type="radio"] {
  margin: 11px 3px 4px 0px;
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -ms-appearance: radio;
  -o-appearance: radio;
  appearance: radio;
}

legend { padding-bottom: 6px; }

.label--block { display: block; }

/*================ Checkbox ================*/
.checkbox { position: relative; }

.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.checkbox label { 
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.checkbox label:before {
  content: '';
  align-self: flex-start;
  flex: 0 0 auto;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border: 1px solid var(--text-light);
  margin-right: 10px;
  background: var(--bg);
}

.checkbox input:checked ~ label:before {
  background: var(--COLOR-PRIMARY);
  box-shadow: inset 0 0 0 2px var(--bg);
}

/*================ Input Group ================*/

.input-group {
  background-color: var(--TRANSPARENT);
  position: relative;
  display: table;
  border-collapse: separate;
  padding: 0;

  .btn { box-shadow: none; }

  input,
  input:focus,
  input:active {
    background-color: var(--TRANSPARENT);
    border: none;
    box-shadow: none;
    margin: 0;

    // Nasty Firefox hack for inputs http://davidwalsh.name/firefox-buttons
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
      margin-top: -1px;
      margin-bottom: -1px;
    }
  }
}

.input-group-field,
.input-group-btn {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.input-group .input-group-field {
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
  margin: 0;
}

.form__legal {
  max-width: none;
  line-height: 1;
  text-align: left;

  p {
    font-style: var(--FONT-STYLE-BODY-ITALIC);
    color: var(--text-a70);
    font-size: calc(0.75rem * var(--FONT-ADJUST-BODY) );
  }

  p a {
    padding-bottom: 0;
    background: none;
  }
}

.small-newsletter .form__legal,
.modal--newsletter .form__legal,
.account--login .form__legal {
  margin-top: 15px;

  p { margin: 0; }
}

/*================ Custom select style ================*/

select {
  @include prefix(appearance, none, webkit moz spec);

  background: {
    image: var(--ICON-SELECT);
    repeat: no-repeat;
    position: right 10px center;
    color: transparent;
    size: 18px auto;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: unset;
  cursor: pointer;
}

select::-ms-expand { display: none; }

/*================ Error styles ================*/

input,
select,
textarea {
  &.input-error {
    border-color: var(--COLOR-ERROR-BORDER);
    background-color: var(--COLOR-ERROR-BG);
    color: var(--COLOR-ERROR);
  }
}

.form-padding--medium-up {
  @include media-query($medium-up) {
    padding-right: 10px;
  }
}

form .errors,
.form-errors {
  padding: var(--inner);
  border: 1px solid var(--COLOR-ERROR-BORDER);
  border-radius: var(--RADIUS-SELECT);
  background-color: var(--COLOR-ERROR-BG);
  color: var(--COLOR-ERROR);

  ul {
    list-style-type: none;
    margin: 10px 20px;
    padding: 0;
    color: inherit;
  }
}

.form-success {
  border: 1px solid var(--COLOR-BORDER);
  border-radius: var(--RADIUS-SELECT);
  margin: 0 0 rem(30px) 0;
  padding: var(--inner);
  color: var(--COLOR-TEXT);
  box-shadow: 0 1px 3px var(--hairline), 0 1px 2px var(--hairline);
}

.contact-form .form-success {
  max-width: 400px;
  margin: 30px auto;
}

/*================ Field ================*/

.field {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--text-a35);
  padding: 1em 0;
  border-radius: 0;
  color: var(--text);
}

.field:focus {
  border: 0;
  border-bottom: 1px solid var(--text-a35);
}

.field::placeholder,
.field:-webkit-autofill,
.field:-webkit-autofill:hover,
.field:-webkit-autofill:focus,
.field:-webkit-autofill:active {
  -webkit-text-fill-color: var(--text-a75);
}

// captcha page and app pages
.template- .main-content > *:not(.shopify-policy__container) { margin-top: 60px; }
