/**
 * Account
 */

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid var(--border);
  padding-bottom: rem(15px);
  margin-bottom: rem(30px);

  h1 { margin-bottom: 0; }

  button,
  .btn { margin-bottom: 10px; }
}

.account--login.just { text-align: justify; }

.account--login.just h2.theme { text-align: left; }

.account--login {
  text-align: center;

  .no-js & .is-hidden {
    visibility: visible;
    max-height: none;
    opacity: 1;
  }
}

.account {
  padding: 0 30px;
  max-width: 1160px;
  margin: 40px auto;
}

.account .col {
  display: inline-block;
  width: 45%;
}

.account form { padding: 20px 0; }

.account input[type="hidden"] + .form-message,
.account .form-message:first-child { margin-top: -20px; }

.account .form-message { padding-bottom: 20px; }

.account .form-field { max-width: none; }

.account .forgot-password {
  display: flex;
  width: 100%;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.errors ul {
  text-align: left;
  color: #B00;
}

.action-bottom .note { margin: 0 10px; }

.note > a { margin-left: 5px; }

.align-left .form-field { margin: 0 0 15px; }

// ACCOUNT LANDING
.account table { width: 100%; }

.account table th {
  background: var(--COLOR-BG-SECONDARY);
  color: var(--COLOR-TEXT-LIGHT);
  border: 1px solid var(--COLOR-BG-SECONDARY);
  -webkit-backface-visibility: visible;
}

.account-sidebar {
  width: 22%;
}

.account-sidebar ul {
  list-style: none;
  margin: 0;
}

.account-sidebar li { margin: 8px 0; }

.account-sidebar li.is-current a { color: var(--link-hover); }

.account-main { width: 74%; }

// ADDRESSES
.account-main h2.theme,
.account h4.theme { text-align: left; }

.account table.customer-address-table,
.account table.customer-address-table th,
.account table.customer-address-table td {
  border: 0;
  padding: 15px 0 0;
}

.account table.customer-address-table input[type="text"] { width: 100%; }

.account .h2--body { font-family: var(--FONT-STACK-HEADING); }

.address-tables { padding-top: 10px; }

.address-actions { font-size: calc(var(--font-2) * var(--FONT-ADJUST-BODY)); }

.account .edit-address table,
.account .edit-address form {
  margin: 0;
  padding: 0;
}

.account .edit-address table td { padding: 0 0 15px; }

.account .edit-address select { max-width: 150px; }

.account .edit-address label { padding: 0 15px 0 0; }

.account table a { text-decoration: underline; }

// ORDERS
.order-address .col {
  width: auto;
  margin-right: 40px;
}

.order-info {
  width: 100%;
  margin-bottom: 30px;
}

.order-info p { line-height: 1; }

.order-info span.status { font-style: var(--FONT-STYLE-BODY-ITALIC); }

.account-sidebar--mobile { display: none; }

@include media-query ($small) {
  .account-sidebar,
  .account-main {
    width: 100%;
    margin: 0 0 20px;
  }

  .address-table { width: 100%; }

  .account {
    padding: 15px;
    margin: 0 auto;
  }

  .account-sidebar {
    margin: 0 0 20px;
    padding: 0;
    text-align: left;
    min-height: 0;
    position: relative;
    background: var(--COLOR-BG-SECONDARY);
  }

  .account-sidebar--mobile {
    display: block;
    padding: 15px;
    cursor: pointer;
    position: relative;
  }

  .account-sidebar--mobile:after {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: currentColor transparent transparent transparent;
    margin-top: -4px;
    content: '';
  }

  .account-sidebar ul {
    position: absolute;
    z-index: 1000;
    background: var(--COLOR-BG-SECONDARY);
    top: 100%;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in;
    -moz-transition: max-height 0.5s ease-in;
    -ms-transition: max-height 0.5s ease-in;
    -o-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in;
  }

  .account-sidebar ul.visible { max-height: 640px; }

  .account-sidebar li {
    margin: 0;
    display: block;
    border-top: 1px solid var(--COLOR-BORDER);
  }

  .account-sidebar a {
    display: block;
    padding: 15px;
  }
}

@include media-query($mobile) {
  .account .col { width: 100%; }

  .account .edit-address table td {
    display: block;
    padding: 0 0 10px;
  }

  .account table .payment-status,
  .account table .total { display: none; }

  .order-address .col {
    width: 100%;
    margin: 0 0 15px;
  }

  .order-details-m,
  .order-details-m td {
    border: 0;
    vertical-align: top;

    & > img { max-width: 90px; }
  }

  .order-details-m p { margin: 0; }
}

.order__item__subscription {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: calc(var(--font-2) * var(--FONT-ADJUST-BODY));
}

.order__item__savings { margin-top: 10px; }

.order__item--original {
  color: var(--COLOR-A50);
  text-decoration: line-through;
}

.order-image { width: 90px; }