//=============== Home Map ===============//

.map-section {
  color: var(--text);
  background-color: var(--bg);
}

.map__content { padding: 0; }

.map-section__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.map-section--load-error {
  @include media-query($large) {
    width: 50%;
    margin: 0 auto;
  }

  .errors { width: 100%; }
}

//=============== Image Columns ===============//

.homepage-columns {
  display: flex;
  align-items: stretch;
}

.column__block {
  position: relative;
  overflow: hidden;
  float: none;
  min-height: inherit;
}

.column__block--content { flex: 1; }
.column__block--map {
  @include media-query($large-up) {
    flex: 0 0 66.66%; 
  }

  @include media-query($medium-down) {
    flex: 0 0 50%; 
  }
}

.column__block .flex--centered { padding: 15px; }
