/**
 * Social sharing
 */

.share-holder {
  position: relative;
  display: block;
  z-index: 2;
}

.sharing-button {
  display: inline-flex;
  padding: 10px 0;
  cursor: pointer;
  text-align: left;

  @media (hover: hover) {
    &:hover .sharing-button__text span { background-size: 100% 1px; }
  }
}

.sharing-button .icon { flex-shrink: 0; }

.sharing-button__text {
  @include caps-link;
  align-self: center;
  position: relative;
  margin-left: 6px;
  line-height: 1.4;
}

.share-button__message {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  margin-top: 2px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.share-button__message.is-visible {
  visibility: visible;
  animation: showMessage 3s ease;
  animation-fill-mode: both;
}

.share-button__message::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -1px;
  left: 22px;
  width: 12px;
  height: 12px;
  background: var(--bg);
  border: 1px solid var(--border);
  clip-path: polygon(0% 0%, 100% 100%, 0 100%);
  transform: rotate(135deg) translateX(-50%);
}

.share-button__message--right {
  right: 0;
  left: auto;
}
.share-button__message--right:after {
  right: 22px;
  left: auto;
}

.share-button__message-text {
  position: relative;
  display: block;
  border: 1px solid var(--border);
  padding: 3px 10px;
  color: var(--text-dark);
  background-color: var(--bg);
  font-size: calc(var(--font-2) * var(--FONT-ADJUST-BODY));
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes showMessage {
  0% {
    opacity: 0;
    transform: translateY(-4px);
  }

  15% {
    opacity: 1;
    transform: translateZ(0);
  }

  90% {
    opacity: 1;
    transform: translateZ(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-4px);
  }
}

.socials {
  --gap: 8px;
  --gap-offset: calc(var(--gap) * -1);
  display: flex;
  flex-wrap: wrap;
  margin: var(--gap-offset);
  list-style: none;

  li { margin: var(--gap); }

  a { color: var(--text); }
}

.socials--newsletter { margin-top: calc(var(--inner) - var(--gap)); }

.text-center .socials { justify-content: center; }

.social-link {
  height: var(--icon-size);
  width: var(--icon-size);
  color: var(--link);
}

.social-link:hover { color: var(--link-hover); }