.text-promo {
  color: var(--text);

  @include media-query ($large-up) {
    --inner: 40px;
  }
}

.text-promo .backdrop--radial:before { z-index: initial; }

.text-promo .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.text-promo-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  padding: var(--inner);
  background-color: var(--bg);

  .hero__title,
  .hero__app,
  .hero__rte {
    position: relative;
    margin: 10px 20px;
    z-index: 20;
  }

  @include media-query($small) {
    flex-direction: column;

    .hero__title,
    .hero__app,
    .hero__rte {
      margin: 8px 10px;
    }
  }
}

.text-promo-inner--border { border: 1px solid var(--border); }
